[% WRAPPER 'site/wrapper.html' %]
<div class="page-header">
        <h1>Create new client card</h1>
      </div>

          <form action='#' method='post'>
            <div class="row">
            <div class="col-md-6">
            <fieldset>
              <legend>Personal data</legend>

                <label for="reference">Where did the client come from</label>
                <p>

                  <select id="reference" class="selectpicker">
                    <option>Web</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>

                </p>
                <label for="client_name">Client name</label>
                <p>

                  <input id="client_name" class="form-control" type="text" aria-label="Client name"
                  aria-labeledby="Client name">


                </p>
                <label for="sex">Sex</label>
                <p>
                  <select id="sex" class="selectpicker">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </p>
                <label for="client_phone">Client phone</label>
                <p>
                  <input id="client_phone" class="form-control" type="text">
                </p>

            </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                <legend>Address</legend>
                <label for="client_address">Address</label>
                <p>
                  <input id="client_address" class="form-control" type="text">
                </p>

                <label for="client_city">Country</label>
                <p>
                  <select id="client_city" class="selectpicker">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </p>

                <label for="client_country">City</label>
                <p>
                  <select id="client_country" class="selectpicker">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </p>

              </fieldset>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
[% END %]