[% WRAPPER site/wrapper.html -%]

     <div class="page-header">
       <h1>Müştəri Katlarını Axtar</h1>
     </div>

     <div class="row">
       <div class="col-md-4">
         <form>
           <div class="form-group">
             <label for="search"></lable>
             <input class="form-control" type="text" id="search" placeholder="Yazmağa başlayın...">
             <p class="help-block">Bütün sahəlerdə axtarış aparmaq olur</p>
           </div>
         </form>
       </div>
       <div class="col-md-8">
       </div>
     </div>

     <div class="row">
       <div class="col-md-12">
         <table class="table table-bordered table-hover">
           <caption>Müştəri siyahısı</caption>
           <thead>
             <tr>
               <th>Cari Adı</th>
               <th>GSM</th>
               <th>Telefon</th>
               <th>İlçe</th>
               <th>İl</th>
             </tr>
           </thead>
          <tbody>
            <tr>
              <td><a href="card.html">Asadov Kamran Chingiz</a></td>
              <td>0555410976</td>
              <td>Something</td>
              <td>Something</td>
              <td>Baku</td>
            </tr>
            <tr>
              <td><a href="#">John Doe</a></td>
              <td>0555410976</td>
              <td>Something</td>
              <td>Something</td>
              <td>Ganja</td>
            </tr>
          </tbody>
         </table>
       </div>
     </div>

   
[% END %]
