[% WRAPPER 'site/wrapper.html' %]
<div class="page-header">
        <h1>Yeni Stok Kartı Yarat</h1>
      </div>

          <form action='#' method='post'>
            <fieldset>
              <legend>Stok Kartı Bilgileri</legend>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="code">Stok Kodu</label>
                    <input class="form-control" type="text" id="code" name="code">
                  </div>

                  <div class="form-group">
                    <label for="name">Stok Adı</label>
                    <input class="form-control" type="text" id="name" name="name">
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="purchase_price">Alış Fiyatı</label>
                        <input class="form-control" type="text" id="purchase_price"
                          name="purchase_price">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="sale_price">Satış Fiyatı</label>
                        <input class="form-control" type="text" id="sale_price"
                          name="sale_price">
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="tax_rate">Kdv %</label>
                        <input class="form-control" type="text" id="tax_rate"
                          name="tax_rate">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="purchase_price">Çağrı Kodu</label>
                        <input class="form-control" type="text" id="purchase_price"
                          name="purchase_price">
                      </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="tax_rate">Kısa İsim</label>
                        <input class="form-control" type="text" id="tax_rate"
                          name="tax_rate">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="jumbotron">
                    <div class="form-group">
                      <label for="bounty">Prim</label>
                      <input type="text" class="form-control" id="bounty" name="bounty">

                    </div>
                  </div>
                </div>
              </div>
            </fieldset>


            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
[% END %]