.badge-green {
  background-color: #5cb85c;
}

.badge-blue {
  background-color: #337ab7;
}

.badge-red {
  background-color: #c9302c;
}

.badge-orange {
  background-color: #deb25c;
}

.top-buffer {
  padding-top: 20px;
}
