[% WRAPPER site/wrapper.html
  title = 'RapidApp'
-%]


      <div class="page-header">
        <h1>Əsas Səhifə</h1>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a href="#" class="list-group-item">
                Yeni Sifarişlər <span class="badge badge-blue">30</span>
            </a>
            <a href="#" class="list-group-item">
              Olaynanan Sifarişlər<span class="badge badge-green">40</span></a>
            <a href="#" class="list-group-item">
              Ertelenen Sifarişlər<span class="badge badge-red">230</span></a>
            <a href="#" class="list-group-item">Bütün Sifarişlər
               <span class="badge badge-orange">HEPSİ</span></a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="well well-lg">
            <div class="row">
              <div class="col-md-3">
                <a href="#"><button class="btn btn-default btn-lg btn-block">
                  Temel Rapor <span><i class="fa fa-file-text"></i></span>
                </button></a>
              </div>
              <div class="col-md-3">
                <a href="#"><button class="btn btn-default btn-lg btn-block">
                  Mesaj Yayınla <span><i class="fa fa-envelope"></i></span>
                </button></a>
              </div>
              <div class="col-md-3">
                <a href="#"><button class="btn btn-default btn-lg btn-block">
                  BSA Raporu <span><i class="fa fa-phone-square"></i></span>
                </button></a>
              </div>
            </div>
            <div class="row top-buffer">
              <div class="col-md-3">
                <a href="#"><button class="btn btn-default btn-lg btn-block">
                  Lorem Ipsum <span><i class="fa fa-file-text"></i></span>
                </button></a>
              </div>
              <div class="col-md-3">
                <a href="#"><button class="btn btn-default btn-lg btn-block">
                  Lorem Ipsum <span><i class="fa fa-envelope"></i></span>
                </button></a>
              </div>
            </div>
          </div>

        </div>
      </div>


[% END %]
